body {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin: auto;
}

#containers {
  display: flex;
  justify-content: space-evenly;
}

.show-score-list {
  border: 1px solid black;
}

li {
  text-decoration: none;
  list-style: none;
  margin-left: auto;
}

li:nth-child(even) {
  background: lightgray;
}

#form-container {
  display: flex;
  flex-direction: column;
}

.input-score {
  margin-top: 5px;
}

button {
  align-self: flex-end;
  margin-top: 9px;
}

.small-score {
  color: #dc3545;
}
